<template name="footer">
<footer>
    <div class="footer-top-bg">
        <div class="footer-set">
        <ul>
            <li class="footer-links-header">Discover</li>
            <li><a href="">Private Banking</a></li>
            <li><a href="">Superannuation</a></li>
            <li><a href="">Wealth Management</a></li>
            <li><a href="">Application Support</a></li>
        </ul>
            </div>
        <div class="footer-set">
        <ul>
            <li class="footer-links-header">Products</li>
            <li><a href="">OneView</a></li>
            <li><a href="">OneLedger</a></li>
            <li><a href="">OneNotify</a></li>
            <li><a href="">OneEvent</a></li>
        </ul>
            </div>
        <div class="footer-set">
        <ul>
            <li class="footer-links-header">Connect with us</li>
            <li><a href="">Partner Program</a></li>
            <li><a href="">Contact us</a></li>
            
        </ul>
            </div>
        <div class="footer-set">
        <ul>
            <li class="footer-links-header">About</li>
            <li><a href="">About us</a></li>
            <li><a href="">Careers</a></li>
            
        </ul>
            </div>
        <div class="footer-set">
        <ul>
            <li class="footer-links-header">Resources</li>
            <li><a href="">Latest news</a></li>
            <li><a href="">Case studies</a></li>
            
        </ul>
            </div>
    </div>
    <div class="footer-bottom-bg" id="wp4">
        <div class="row">
        <img src="images/logo-bgBlack.svg" class="wp4 delay-04s" height="70px" align="middle">
        </div>
        <div class="row privacy-text-bg">
            <p><a href="">Terms of use</a> Copyrights © 2016 OneAston All Rights Reserved. </p>
        </div>
        <div class="row text-center footer-social-icons-bg wp5 delay-04s">
        <a href="https://www.facebook.com/OneAston-490000324531604/?fref=ts" ><i class="ion-social-facebook" style="left:15px;"></i></a>
        <a href="https://twitter.com/DjayasingheOne"><i class="ion-social-twitter"></i></a>
        <a href="" ><i class="ion-social-googleplus"></i></a>
        <a href="" ><i class="ion-social-linkedin-outline"></i></a>
        </div>
    </div>
</footer>

</template>