<template name="menu">
       <nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/"></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav hidden-nav">
          <li >
          <a href="{{pathFor route='private_banking' name='private_banking'}}" class="{{isActiveRoute 'private_banking'}}" role="button" >PRIVATE BANKING </a>
            
<!--
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
-->
            {{> svg_icon1}}
        </li>
        
        <li><a href="#">WEALTH MANAGEMENT</a>
          {{> svg_icon1}}</li>
        <li class="dropdown">
          <a href="#"  role="button" >SUPERANNUATION </a>
            
<!--
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
-->
            {{> svg_icon1}}
        </li>
          <li class="dropdown">
          <a href="{{pathFor route='products' name='private_banking'}}" class="{{isActiveRoute 'products'}}"  role="button" >PRODUCTS </a>
<!--
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
-->
              {{> svg_icon1}}
        </li>
          <li class="dropdown">
          <a href="{{pathFor route='application_support' name='application_support'}}" class="{{isActiveRoute 'application_support'}}">APPLICATION SUPPORT </a>
<!--
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
-->
              
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <!-- /right side menu icon -->
        <div><a href="#" class="right-menu-bt open-right-menu"><i class="ion-navicon-round"></i></a></div>
   <!-- /right side menu bg -->    
 <div class="right-menu-bg-wrapper">
       <div class="right-menu-bg" >
           <div><a href="#" class="close-right-menu"><i class="ion-close-round"></i></a>
           <img src="/images/logo-bgBlack.svg" height="50px">
           </div>
        <ul class="right-menu-ul">
            <li class="hidden-right-nav"><a href="{{pathFor route='private_banking' name='private_banking'}}" class="{{isActiveRoute 'private_banking'}}">Private Banking</a></li>
            <li class="hidden-right-nav"><a href="#">Superannuation</a></li>
            <li class="hidden-right-nav"><a href="#">Wealth Management</a></li>
           <li class="hidden-right-nav"><a href="{{pathFor route='products' name='private_banking'}}" class="{{isActiveRoute 'products'}}">Products</a></li>
            <li class="hidden-right-nav"><a href="{{pathFor route='application_support' name='application_support'}}" class="{{isActiveRoute 'application_support'}}">Application Support</a></li>
            
           <li><a href="#">About</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Latest News</a></li>
           <li><a href="#">Case Studies</a></li>
            <li><a href="#">Partner program</a></li>
           </ul>
        </div>
        </div>
     <div class="hide-body" style="display:none;"></div>
</template>
<template name="menu2">
       <nav class="navbar navbar-fixed-top" style="background:#fff;">
  <div class="container-fluid menu2">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/"></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav hidden-nav">
          <li >
          <a href="{{pathFor route='private_banking' name='private_banking'}}" class="{{isActiveRoute 'private_banking'}}" role="button" >PRIVATE BANKING </a>
            
<!--
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
-->
            {{> svg_icon1}}
        </li>
        
        <li><a href="#">WEALTH MANAGEMENT</a>
          {{> svg_icon1}}</li>
        <li class="dropdown">
          <a href="#"  role="button" >SUPERANNUATION </a>
            
<!--
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
-->
            {{> svg_icon1}}
        </li>
          <li class="dropdown">
          <a href="{{pathFor route='products' name='private_banking'}}" class="{{isActiveRoute 'products'}}"  role="button" >PRODUCTS </a>
<!--
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
-->
              {{> svg_icon1}}
        </li>
          <li class="dropdown">
          <a href="{{pathFor route='application_support' name='application_support'}}" class="{{isActiveRoute 'application_support'}}">APPLICATION SUPPORT </a>
<!--
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
-->
              
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <!-- /right side menu icon -->
        <div><a href="#" class="right-menu-bt open-right-menu" style="color:#000;"><i class="ion-navicon-round" style="color:#000;"></i></a></div>
   <!-- /right side menu bg -->    
 <div class="right-menu-bg-wrapper">
       <div class="right-menu-bg" >
           <div><a href="#" class="close-right-menu"><i class="ion-close-round"></i></a>
           <img src="/images/logo-bgBlack.svg" height="50px">
           </div>
        <ul class="right-menu-ul">
            <li class="hidden-right-nav"><a href="{{pathFor route='private_banking' name='private_banking'}}" class="{{isActiveRoute 'private_banking'}}">Private Banking</a></li>
            <li class="hidden-right-nav"><a href="#">Superannuation</a></li>
            <li class="hidden-right-nav"><a href="#">Wealth Management</a></li>
           <li class="hidden-right-nav"><a href="{{pathFor route='products' name='private_banking'}}" class="{{isActiveRoute 'products'}}">Products</a></li>
            <li class="hidden-right-nav"><a href="{{pathFor route='application_support' name='application_support'}}" class="{{isActiveRoute 'application_support'}}">Application Support</a></li>
            
           <li><a href="#">About</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Latest News</a></li>
           <li><a href="#">Case Studies</a></li>
            <li><a href="#">Partner program</a></li>
           </ul>
        </div>
        </div>
     <div class="hide-body" style="display:none;"></div>
</template>